<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<alias alias="IBootTask" type="GDEIC.AppFx.Unity.IBootTask,GDEIC.AppFx.Unity"/>
		<alias alias="IController" type="System.Web.Mvc.IController,System.Web.Mvc"/>
		<container>
			
			<register type="HttpWebApp.Models.NorthwindContext,HttpWebApp">
				<lifetime type="singleton"/>
				<constructor>
					<param name="connectionString" value="data source=dev7.gdepb.gov.cn;initial catalog=northwind;integrated security=sspi;" />
				</constructor>
			</register>

			<register type="HttpWebApp.Controllers.CategoriesController,HttpWebApp">
				<constructor>
					<param name="context">
						<dependency />
					</param>
				</constructor>
			</register>

			<register type="HttpWebApp.Controllers.ProductsController,HttpWebApp">
				<constructor>
					<param name="context">
						<dependency />
					</param>
				</constructor>
			</register>

			<register type="System.Web.Http.Common.ILogger,System.Web.Http.Common" mapTo="HttpWebApp.Logger,HttpWebApp">
				
			</register>
			
		</container>
	</unity>
</configuration>
